{% if recipes.has_other_pages %}
    <div class="container pagination">
        <div class="pagination-content">

        {% if range_pages.first_page_out_of_range %}
            <a class="page-link page-item" href="?page=1{{ additional_query }}">1</a>
            <span class="page-item">...</span>
        {% endif %}

        {% for page in range_pages.pagination %}
            {% if range_pages.current_page == page %}
                <a class="page-link page-item current-page" href="?page={{page}}{{ additional_query }}">{{page}}</a>
            {% else %}
            <a class="page-link page-item" href="?page={{page}}{{ additional_query }}">{{page}}</a>
            {% endif %}
        {% endfor %}

        {% if range_pages.last_page_out_of_range %}
            <span class="page-item">...</span>
            <a class="page-link page-item" href="?page={{ range_pages.total_pages }}{{ additional_query }}">{{ range_pages.total_pages }}</a>
         {% endif %}  

        </div>
    </div>
{% endif %}