{% include 'recipes/partials/head.html' %}

<body>
    
    <header class="main-header-container">
        <div class="main-header container">
            <h1>
                <a href="/" class="main-logo">
                    <i class="fa-solid fa-utensils main-icon"></i>
                    <span>Home Page {{Title}}</span> 
                </a>
            </h1>
        </div>
    </header>

    <div class="search-container">
        <div class="container">
            <form action="" class="search-form">
                <input type="search" class="search-input" name="search">
                <button type="submit" class="search-button"><i class="fa-solid fa-magnifying-glass"></i></button>
            </form>
        </div>
    </div>

    <main class="main-content-container">
        <div class="main-content main-content-list container">
            <div class="temp"></div>
            <div class="temp"></div>
            <div class="temp"></div>
            <div class="temp"></div>
            <div class="temp"></div>
            <div class="temp"></div>
            <div class="temp"></div>
            <div class="temp"></div>
            <div class="temp"></div>
            <div class="temp"></div>
        </div>
    </main>
    
</body>
</html>